.background {
  min-height: 100vh;
  height: auto;
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.normal_chair {
  background-color: #ffffa8;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.1s;
  width: 65px;
}
.normal {
  background-color: #ffffa8;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.1s;
  width: 65px;
}

.normal_chair:hover {
  background-color: #fafafa;
}

.normal_chair:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
/*  */
.special_chair {
  background-color: #ff8a65;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.1s;
  width: 65px;
}
.special {
  background-color: #ff8a65;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.1s;
  width: 65px;
}

.special_chair:hover {
  background-color: #fafafa;
}

.special_chair:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
/*  */
.ordered_chair {
  background-color: #757575;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.1s;
  width: 65px;
}
.ordering_chair {
  background-color: #b388ff;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.1s;
  width: 65px;
}
.ordering {
  background-color: #b388ff;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.1s;
  width: 65px;
}
.ordering_chair:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.screen {
  border-radius: 52% 48% 48% 52% / 100% 100% 0% 0%;
  height: 20px;
  filter: drop-shadow(4px 20px 20px rgba(255, 255, 255, 0.5));
}
